.program-detail {
	margin: 30px auto 50px;
	img {
		width: 100%;
	}
	.wrapper {
		// display: grid;
		// grid-template-columns: 64.38% 33.72%;
		// grid-gap: 1.69%;
		// overflow: hidden;
		// padding-bottom: 50px;
		.row{
			@media(max-width:1199px){
				grid-gap: 30px;
			}
			.col-xl-8{
				padding-right: 30px;
				@media(max-width:1199px){
					padding: 0;
					
				}
			}
			.col-xl-4{
				padding-left: 30px;
				@media(max-width:1199px){
					padding: 0;
				}
			}
			.main-content {
				display: flex;
				flex-direction: column;
				grid-gap: 20px;
				background-color:$white-color;
				box-shadow: -1px 2px 10px -2px rgba(0,0,0,0.1) ;
				border-radius: 10px;
				img {
					// height: 523px;
					width: 100%;
				}
				h2 {
					font-weight: 600;
					font-size: 3.2rem;
					line-height: 38px;
					padding-left: 39px;
				}
				p {
					font-weight: 400;
					font-size: 1.6rem;
					line-height: 24px;
					color: var(--color-light-black);
					padding:0 40px 40px 40px;
					text-align: justify;
					line-height: 26px;
				}
			}
			.side-content {
                &__search-wrapper {
                    background-color: $white-color;
                    border-radius: 10px;

                    .side__form-wrap {
                        margin-bottom: 35px;

                        @media(max-width:767px) {
                            margin-top: 60px;
                            padding: 0px;
                        }

                        .search__form-wrap {

                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;

                            @media screen and (max-width: 1285px) {
                                flex-wrap: wrap;
                            }

                            input {
                                border: 1px solid $color__light-grey;
                                display: inline-block;
                                font-size: 16px;
                                color: $color__grey;
                                padding: 15px 0 15px 15px;
                                border-radius: 10px 0 0 10px;
                                width: 100%;
                                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);

                                @media screen and (max-width: 1285px) {
                                    border-radius: 10px;
                                }

                            }

                            .search_btn {
                                background-color: $color_dark-blue;
                                color: $white-color;
                                font-size: 25px;
                                padding: 10px 22px;
                                margin-bottom: 0;
                                border-radius: 0 10px 10px 0;
                                line-height: 32px;

                                @media screen and (max-width: 1285px) {
                                    width: 100%;
                                    margin-top: 10px;
                                    border-radius: 10px;
                                    text-align: center;
                                }

                                i {
                                    color: $white-color;
                                    font-size: 22px;
                                    -webkit-text-stroke: 1px $color_dark-blue;
                                }
                            }
                        }
                    }

                    img {
                        border-radius: 10px;
                    }

                    .other-programs {
                        background: --color-white;

                        h3 {
                            font-size: 26px;
                            line-height: 28px;
                            text-transform: capitalize;
                            margin-bottom: 24px;
                            color: $color_dark-blue;

                            @media screen and (max-width: 1024px) {
                                font-size: 22px;
                            }
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            grid-gap: 30px;

                            li {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                grid-gap: 20px;
                                transition: all 0.2s ease-in-out;
                                padding-bottom: 30px;
                                border-bottom: 1px solid #EFEFEF;

                                @media screen and (max-width: 1024px) {
                                    flex-direction: column;
                                }

                                @media screen and (max-width: 767px) {
                                    flex-direction: row;
                                }

                                &:hover {
                                    transform: scale(1.05);
                                }

                                img {
                                    max-width: 110px;
                                    max-height: 110px;

                                }

                                .other-programs-suppourting-text {
                                    display: flex;
                                    flex-direction: column;
                                    grid-gap: 10px;

                                    h4 {
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 22px;
                                        line-height: 26px;
                                        color: $color_dark-blue;

                                        @media screen and (max-width: 1440px) {
                                            font-size: 18px;
                                        }

                                        @media screen and (max-width: 768px) {
                                            font-size: 16px;
                                        }

                                        @media(max-width:479px) {
                                            font-size: 18px;

                                            br {
                                                display: none;
                                            }
                                        }
                                    }

                                    .progrem__calander {
                                        span {
                                            font-size: 16px;
                                            color: $grey-color;
                                        }

                                        .span__date {
                                            margin-left: 10px;
                                            line-height: 19px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .news-and-events {
                        background: #FFFFFF;
                        border: 1px solid var(--color-gray-border);
                        padding: 32px 26px;
                        display: flex;
                        flex-direction: column;
                        grid-gap: 28px;

                        h3 {
                            font-weight: 700;
                            font-size: 2.4rem;
                            line-height: 28px;
                        }

                        ul {
                            display: flex;
                            flex-direction: column;
                            grid-gap: 30px;

                            li {
                                display: flex;
                                flex-direction: column;
                                grid-gap: 10px;
                                font-weight: 500;
                                font-size: 2rem;
                                line-height: 30px;
                                color: $heading-color;
                            }
                        }

                        a {
                            span {
                                color: $heading-color;
                            }
                        }
                    }
                }
            }
		}
	}
}
// @media screen and (max-width:1766px){
// 	.program-detail {
// 		.wrapper{
// 			.side-content{
// 				height: 740px;
// 			}
// 		} 	
// 	}
	
// }
@media screen and (max-width: 1023px) {
	.program-detail {
		.wrapper {
			grid-template-columns: 1fr;
			.side-content {
				grid-template-columns: 1.7fr 1fr;
			}
		}
	}
}
@media screen and (max-width: 731px) {
	.program-detail {
		.wrapper {
			.side-content {
				grid-template-columns: 1fr;
			}
		}
	}
}
